<section class="property">
   <div class="address">
      <span>{{location_address}}</span>
      <span>{{landlord}}</span>
   </div>
   <div class="rating large star-icon direction-ltr value-4 label-top">
      <div class="label-value">12 Reviews</div>
      <div class="star-container">
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
      </div>
   </div>
   <div class="propInfo">
      {{number_of_bedrooms}} {{number_of_bathrooms}} {{property_type}}
   </div>
</section>